.container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 40px) / 3);
  background-color: aliceblue;
  height: 300px;
  padding: 15px;
}

.green {
  border: solid green 5px;
}

.blue {
  border: solid blue 5px;
}

.red {
  border: solid red 5px;
}

.pink {
  border: solid pink 5px;
}

.yellow {
  border: solid yellow 5px;
}

.container > div > h2 {
  font-weight: bold;
  font-size: 2.2em;
}

@media (max-width: 810px) {
  .container > div {
    width: 100%;
    margin: 0 10px;
    overflow-x: hidden;
  }
  .container > div > h2 {
    word-wrap: break-word;
    font-size: 1.4em;
  }
}
